*{
    font-size: 20px;
    font-weight: 450;
    color: white;
}

canvas{
    border: 1px solid black;
    background-color: rgba(240, 248, 255, 0);
}
.container{
    padding: 0;
}
body{
    max-width: 450px;
    margin: 5px auto;
    padding: 5px;
    height: 75vh;
    background: #000;
}
.play{
    display: none;
    width: 100%;
}
.lamlai{
    display: none;
    width: 100%;
}
.table{
    /* width: fit-content; */
    width: 100%;
    /* background: #000; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
th{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: rgb(2, 183, 2);

}
.table td{
    padding: 5px;
    font-size: 15px;
    text-align: center;
    color: #939393;
}

.fix{
    /* left: 20px; */
    position: fixed;
    bottom: 20px;
    min-width: 350px;
    display: none;
    left: 60%;
  transform: translateX(-50%);
}
#mess{
    /* padding-bottom: 20px ; */
    padding: 0 20px 20px 20px;
    /* content: ">";s */
    color: rgb(40, 40, 239);
}

.number{
    border-radius: 20px;
    color: rgb(139, 139, 139);
    /* border: 1px solid rgb(124, 124, 124); */
    /* padding: 10px; */
}
#numbers{
    margin-bottom: 5px;
    max-width: 100%;
}
.show{
    display: block;
}